/* .nav-icon {
    padding: 0 10px;
  } */

  

  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #9cc5ec;
    /* color: rgb(12, 12, 170); */
    color: #004a8f;
  }
  
  .left-content {
    text-align: left;
    margin-left: 5px;
  }
  
  .right-content {
    text-align: right;
    color: #004a8f;
    margin-right: 5px;

  }