<header>
    <div class="left-content">
      <!-- Left-aligned content goes here -->
      <h2>{{welcomeTitle.toUpperCase()}} </h2>
      <div *ngIf="name"> Last Log in {{ time | date: 'dd-MMM-YYYY hh:mm:ss a' }}</div>

    </div>
    <div class="right-content">
      <!-- Right-aligned content goes here -->
      <nav *ngIf="isLogin() || isRegister()" class="navbar navbar-expand-lg fixed-top navbar-transparent"
        color-on-scroll="500">
       <div class="container">
           <div class="navbar-collapse" id="navbarToggler">
                   <span class="nav-item" *ngIf="isLogin()">
                    <span style="margin-left: 8px; color: black;">New User ? </span>
                       <a routerLink="register" class="nav-link" style="color: #004a8f;">Register here </a>
                   </span>
                   <span class="nav-item" *ngIf="isRegister()">
                    <span style="margin-left: 8px; color: black;">Already Registered ? </span>
                       <a routerLink="login" class="nav-link" style="color: #004a8f;">Login</a>
                   </span>
           </div>
    
       </div>
      </nav>
      <button *ngIf="name && !(isLogin() || isRegister())" mat-icon-button (click)="onLogout()" style="background-color: #004a8f; color: white; margin-top: 15px;">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
        <!-- <button *ngIf="name" (click)="onLogout()" style="background-color: #004a8f; color: white;"><mat-icon>power_settings_new</mat-icon>
        <span>Logout</span></button> -->
    </div>
  </header>



