

    <mat-card style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <!-- <div style="float: left;">
            <label *ngIf="name"> Welcome {{name}}</label>

        </div> -->
        <div style="float: right;">
            <!-- <i class="fas fa-power-off" title="Log out" (click)="onLogout()"></i> -->
           
            <!-- <button mat-button class="logout-button" (click)="onLogout()">Logout</button> -->
        </div>
       
        <mat-card-header>
            <mat-card-title> {{welcomeTitle}} 
                <!-- <div style="margin-left: 100px; width: 500px;"> -->
                    <span *ngIf="name">
                        <br >
                        <button mat-button (click)="onLogout()">
                            <mat-icon>power_settings_new</mat-icon>
                            <span>Logout  </span>
                          </button>
                    </span>
                    
                <!-- </div> -->
                </mat-card-title>
           
        </mat-card-header>
    <mat-card-content>
        <nav *ngIf="isLogin() || isRegister()" class="navbar navbar-expand-lg fixed-top navbar-transparent"
        color-on-scroll="500">
       <div class="container">
           <div class="navbar-collapse" id="navbarToggler">
               <ul class="navbar-nav ml-auto">
                   <li class="nav-item" *ngIf="isLogin()">
                       <a routerLink="register" class="nav-link"><i class="nc-icon nc-badge nav-icon"></i>Sign up </a>
                       <span style="margin-left: 8px;">New User</span>
                   </li>
                   <li class="nav-item" *ngIf="isRegister()">
                       <a routerLink="login" class="nav-link"><i class="nc-icon nc-touch-id nav-icon"></i>Login</a>
                   </li>
               </ul>
           </div>
    
       </div>
    </nav>
    <!-- <button mat-menu-item> -->
        
        <!-- <span>Logout</span> -->
      <!-- </button> -->
    </mat-card-content>
    </mat-card>



