<div class="main-div">
    <mat-card class="mat-elevation-z0 outline">
            <mat-card-header>
                <p>Transfer Money</p>
            </mat-card-header>
        <mat-card-content>
            <form [formGroup]="transferMoneyForm" (ngSubmit)="transferMoneyFormSubmit()" autocomplete="off">
                <p>
                    <mat-form-field>
                        <label >Account No. </label>
                        <input matInput type="text" id="transferTo" placeholder="Receiver's account no." formControlName="transferTo" name="transferTo">
                    </mat-form-field>
                  </p>
                  <p>
                      <mat-form-field>
                        <label >Amount </label>
                        <input matInput class="form-control" type="email" id="email" placeholder="Amount to be transfer" formControlName="amount" name="amount">
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Enter 4 digit PIN" id="pin"
                                               name="pin" formControlName="pin">
                    </mat-form-field>
                  </p>
                  <button class="btn btn-round btn-danger btn-block" type="submit" [disabled]="!transferMoneyForm.valid">Transfer</button>

            </form>
        </mat-card-content>
        
    </mat-card>
</div>


