


<div style="padding: 32px;padding-top: 15px;">

    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
  
        <!-- Generic column definition -->
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
          <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row[column.columnDef] }}</mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
      </mat-table>
      <div *ngIf="noRecordFound" style="padding: 23px;">No Transaction History Found</div>
    </div>