.main-div{
    /* height: 310px; */
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
form{
  width: 350px;
}

mat-form-field{
  width: 100%;
}

.outline {
  border-style: solid;
  border-width: medium;
}