<div class="main-div">
    <mat-card style="border: 1px solid #ccc;">
            <mat-card-header class="sticky-header">
                <p>Deposit Money</p>
            </mat-card-header>
        <mat-card-content>
            <form [formGroup]="depositForm" (ngSubmit)="depositFormSubmit()" autocomplete="off">
                  <p>
                      <mat-form-field>
                        <label >Amount </label>
                        <input matInput class="form-control" type="number" id="amount" placeholder="Amount to Deposit" formControlName="amount" name="amount" appNoStartingZero>
                        <mat-error *ngIf="depositForm.controls['amount'].invalid && depositForm.controls['amount'].touched">Enter a valid amount</mat-error>
                        <mat-hint>Max limit 100000</mat-hint>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Enter 4 digit PIN" id="pin"
                                               name="pin" formControlName="pin">
                        <mat-error *ngIf="depositForm.controls['pin'].invalid && depositForm.controls['pin'].touched">Enter a valid PIN </mat-error>
                    </mat-form-field>
                  </p>
                  <button class="btn btn-round btn-danger btn-block" [ngStyle]="{'background-color': depositForm.valid? '#004a8f':'#9cc5ec', 'color': 'white'}"  type="submit" [disabled]="!depositForm.valid">Deposit</button>
            </form>
        </mat-card-content>
        
    </mat-card>
</div>


