  <mat-tab-group>
    <mat-tab label="Account Summary"> 
      <app-account></app-account>
      <label style="margin-left: 37px; font-weight: bold;">Transaction History</label>
      <app-transaction-history></app-transaction-history>
    </mat-tab>
    <mat-tab label="Deposit"> 
      <app-deposit></app-deposit>
  </mat-tab>
  <mat-tab label="Withdrawal"> 
    <app-withdrawal></app-withdrawal>
  </mat-tab>
  <mat-tab label="Transfer Money"> 
    <app-transfer-money></app-transfer-money>
</mat-tab>
  </mat-tab-group>