

<div class="main-div" style="height: 100%;">
    <mat-card class="sticky-card">
            <mat-card-header class="sticky-header">
                <p>Register Yourself</p>
            </mat-card-header>
        <mat-card-content class="scrollable-content">
            <form [formGroup]="registerForm">
                  <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Name"
                                               formControlName="name">
                        <mat-error *ngIf="registerForm.controls['name'].invalid">Enter a valid Name</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Email" id="email" name="email" formControlName="email">
                        <mat-error *ngIf="registerForm.controls['email'].invalid">Enter a valid Email</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Enter 10 digit Contact No." id="contactNo" name="contactNo" formControlName="contactNo">
                        <mat-error *ngIf="registerForm.controls['contactNo'].invalid">Enter a valid Contact</mat-error>

                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>

                      <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Date of Birth">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="registerForm.controls['dob'].invalid">Enter a valid Date of Birth</mat-error>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" id="password" name="password" formControlName="password">
                        <mat-error *ngIf="registerForm.controls['password'].hasError('alphanumeric') && registerForm.controls['password'].touched">Password must be 8 characters with at least one letter, one number, and one special character.</mat-error>
                      </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field [ngStyle]="{'margin-top': registerForm.controls['password'].hasError('alphanumeric') && registerForm.controls['password'].touched ? '5px' : '0px'}">
                        <input type="password" matInput placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" appRestrictPaste>
                        <mat-error *ngIf="registerForm.controls['confirmPassword'].invalid">Passwords do not match.</mat-error>
                    
                      </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Enter 4 digit PIN" id="pin" name="pin" formControlName="pin">
                        <mat-error *ngIf="registerForm.controls['pin'].invalid">Enter a valid PIN</mat-error>

                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field>
                        <input type="text-area" matInput placeholder="Address" formControlName="address">
                        <mat-error *ngIf="registerForm.controls['address'].invalid">Enter a valid Address</mat-error>

                    </mat-form-field>
                  </p>
            </form>
        </mat-card-content>
        <mat-card-actions class="sticky-footer">
          <button [ngStyle]="{'background-color': registerForm.valid? '#004a8f':'#9cc5ec', 'color': 'white'}"  (click)="submitForm()" [disabled]="!registerForm.valid">Register</button>
        </mat-card-actions>
    </mat-card>
</div>


